.app {
    margin: 40px;

}

.link {
    composes: text text_type_main-default from global;
    color: #C4C4C4;
    text-decoration: none;
}

.linkActive {
    composes: text text_type_main-default text_color_inactive from global;
}

.linkText {
    composes: text text_type_main-default from global;
}

/*@media screen and (max-width: 750px) {*/
/*    .app {*/
/*        padding: 60px 20px;*/
/*        box-sizing: border-box;*/
/*    }*/
/*}*/
