.main {
  /*composes: app from "../app/app.module.css";*/
  background-color: tomato;
  width: 1250px;
  margin: 0 auto;

}

.title {
  composes: mt-5 pt-5 ttext text_type_main-large from global;

}

.description {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.caption {
  composes: description;
  opacity: .6;
}
