@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/ibm-plex-sans.woff") format("woff");
}
html{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'JetBrains Mono', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #C4C4C4;
  background-color: #131316;
}
